/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 100%;
    /* position: relative; */
  }
  .one-more {
    /* position: absolute; */
    /* left: 50%;
    transform: translateX(-50%); */
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: #ffcf00;
    text-decoration: none;
    border: none;
    margin-top: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* .main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  position: relative;
}
.one-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  height: 40px;
  width: 120px;
  background-color: #ffcf00;
  text-decoration: none;
  border: none;
} */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    position: relative;
  }
  .one-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: #ffcf00;
    text-decoration: none;
    border: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  position: relative;
}
.one-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  height: 40px;
  width: 120px;
  background-color: #ffcf00;
  text-decoration: none;
  border: none;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    position: relative;
  }
  .one-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: #ffcf00;
    text-decoration: none;
    border: none;
  }
}
